* {
    box-sizing: border-box;
    font-family: cursive, sans-serif;
    margin: 0;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    height: 50px;
    background: linear-gradient(90deg, #4b6181, #98d7f5);
    display: flex;
    align-items: center;
    border-radius: 10px;
}
#page-logo {
    height: 50px;
}

#page-logo img {
    height: 100%;
    margin: 0 3px 0 0;
}

.title {
    color: white;
    font-size: 23px;
}
/*MAIN*/
.main {
    display: flex;
    justify-content: center;
    background-image: url("logo.png");
    background-position: center center;
    min-height: 830px;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 7px;
}
.main-card {
    display: flex;
    flex-direction: column;
}

/*SIDE*/
#sideband {
    display: none;
    margin-right: 10px;
    color: #fff;
    width: 250px;
    padding-left: 20px;
    height: 100vh;
    background: linear-gradient(180deg, #419ac3, #fefefe);
    border-top-right-radius: 80px;
}
#sideband aside p {
    margin: 0;
    padding: 40px 0;
}
#sideband aside div {
    font-size: 12px;
    color: #fff;
    display: block;
    padding: 12px;
    padding-left: 30px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

/*CARD*/
.inner-card {
    width: 250px;
    background: linear-gradient(180deg, #52a9d1, #d9e3e9);
    padding: 5px;
}
.hd-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5px;
    background: #97bbe8;
    padding: 5px;
    border-radius: 8px;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.hd-image {
    text-align: center;
    border-radius: 3px;
}
.hd-image img {
    max-height: 150px;
    max-width: 150px;
    border-radius: 100%;
    margin: 5px;
    vertical-align: middle;
}

.hd-card-services ul li:first-child {
    text-decoration: underline;
    list-style: none;
}

.hd-nickname,
.hd-titulus {
    text-align: center;
}
.mobil-appointments {
    display: none;
}

/*CALENDARIUM*/

.date-week {
    display: flex;
}
/*col - napok*/
.date-days-services {
    width: 100px;
    border: thin solid white;
    flex-grow: 1;
    background: #ebebeb;
}
/*header - napok*/
.date-days {
    background-color: #bab0b0;
    padding: 8px 0px;
    line-height: 16px;
    text-align: center;
    border-radius: 2px;
}
.date-days-day {
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 6px;
}
.date-header-frame {
    background-color: #f8f1f1;
    padding: 8px;
    border-bottom: 1px solid #fff;
    font-weight: 600;
    border-radius: 0 2px 2px 0;
}
.date-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f7f7f7;
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 3px;
}

/*időpontok*/
.data-time {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 55px;
    margin: auto;
}
.date-time-services {
    cursor: pointer;
    margin: 5px 0;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 3px;
    padding: 2px 20px;
}
.date-time-services-reserved {
    margin: 5px 0;
    background-color: rgb(148, 148, 161);
    color: white;
    text-align: center;
    border-radius: 3px;
    padding: 2px 20px;
}
.date-time-services:hover {
    color: black;
    box-shadow: 1px 1px black;
}
.date-time-services:active {
    color: rgb(119, 112, 112);
    background-color: rgb(44, 63, 168);
}
.date-time-services-more {
    cursor: pointer;
    margin: 5px 0;
    text-align: center;
    border-radius: 3px;
}
.date-time-services-more:hover {
    color: rgb(46, 45, 45);
}
.d-none {
    display: none;
}

.arrow {
    cursor: pointer;
    font-size: 20px;
}
.left-arrow {
    margin-left: 10px;
}
.right-arrow {
    margin-right: 10px;
}

/*időpontfoglalás - form*/
.booking * {
    margin: auto;
}
.booking {
    background-color: #8dc9d4;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 5px;
}

.booking-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.booking-form-inner {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 5px !important;
}
.booking-services {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.booking-services-inner {
    margin: 3px 0 !important;
    width: 100%;
}
.booking-price {
    display: inline;
}

/*lefoglalás button*/
.button-3 {
    appearance: none;
    background-color: #30acf1;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    margin-bottom: 10px !important;
    margin-top: 5px !important;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button-3:hover {
    background-color: #25678b;
}

.button-3:focus {
    box-shadow: rgba(79, 76, 150, 0.4) 0 0 0 3px;
    outline: none;
}

.button-3:active {
    background-color: #30acf1;
    box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

/* vissza button */
.button-2 {
    appearance: none;
    background-color: #30acf1;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    margin-bottom: 8px !important;
}
.button-2:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button-2:hover {
    background-color: #25678b;
}

.button-2:focus {
    box-shadow: rgba(79, 76, 150, 0.4) 0 0 0 3px;
    outline: none;
}

.button-2:active {
    background-color: #30acf1;
    box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}
.mobil-calendar,
.mobil-nickname {
    display: none;
}
.mobil-calendar-close {
    display: none;
}

/*------------------MEDIA QUERY---------------------*/

/*MAIN*/
@media screen and (max-width: 1290px) {
    /**/
    .inner-card {
        display: flex;
        width: 700px;
    }
    .hd-card {
        max-width: min-content;
    }
    .hd-main {
        margin-left: 18vw;
    }
    .hd-image {
        margin-left: 5px;
    }
}

@media screen and (max-width: 900px) {
    body {
        margin: 0;
    }
    .container {
        padding: 0;
    }
    .navbar {
        border-radius: 0;
    }
    .card-calendarium {
        width: 95vw;
    }
    #sideband {
        display: none !important;
    }
    .inner-card {
        width: auto;
        width: 95vw;
    }
    .hd-card {
        max-width: auto;
    }
    .hd-main {
        margin-left: 30vw;
    }
}

@media screen and (max-width: 767px) {
    .date-header-frame {
        position: sticky;
        top: 0;
        display: flex;
        width: 100%;
        background-color: #f8f1f1;
        padding: 8px;
        border-bottom: 1px solid #fff;
        font-weight: 600;
        border-radius: 0 2px 2px 0;
    }
    .hd-main {
        margin-left: 0vw;
    }

    .mobil-calendar-close {
        position: fixed;
        right: 32px;
        top: 5px;
        width: 32px;
        height: 32px;
        opacity: 0.3;
        cursor: pointer;
    }
    .mobil-calendar-close:hover {
        opacity: 1;
    }
    .mobil-calendar-close:before,
    .mobil-calendar-close:after {
        position: absolute;
        left: 15px;
        content: " ";
        height: 33px;
        width: 2px;
        background-color: #333;
    }
    .mobil-calendar-close:before {
        transform: rotate(45deg);
    }
    .mobil-calendar-close:after {
        transform: rotate(-45deg);
    }
    .mobil-nickname {
        display: block;
    }

    .card-calendarium {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 40px 5px 5px 5px;
        border-radius: 10px;
        box-shadow: 0 0 10px #ccc;
    }

    .date-header {
        width: inherit;
    }

    .mobil-appointments {
        cursor: pointer;
        display: block;
        border-radius: 30px;
        padding: 3px 10px 3px 10px;
        margin-top: 4px;
    }
    .mobil-appointments:hover {
        background-color: rgb(70, 70, 152);
        color: white;
    }
    .mobil-appointments:active {
        color: black;
    }
    .date-time-services {
        margin: 5px 5px;
        padding: 1px 5px;
    }
    .date-time-services-reserved {
        margin: 5px 5px;
        padding: 1px 5px;
    }
    .date-days {
        padding: 6px 0px;
    }
    .child-date-text {
        justify-content: center;
    }
    .child-date {
        padding: 0;
    }
    .date-week {
        flex-direction: column;
    }
    .date-days-services {
        display: flex;
        width: auto;
    }
    .date-days {
        width: 25vw;
    }
    .data-time {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .booking h2 {
        text-align: center;
    }
    .mobil-nickname {
        text-align: center;
        background: linear-gradient(180deg, #52a9d1, #d9e3e9);
        margin-bottom: 2px;
        padding: 5px;
        font-weight: bold;
        border-radius: 3px;
    }
}
